@font-face {
  font-family: "IIIncrementsSans";
  src: url("/fonts/increment/ii-increments-sans-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IIIncrementsSans";
  src: url("/fonts/increment/ii-increments-sans-bold-oblique.woff2")
    format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "IIIncrementsSans";
  src: url("/fonts/increment/ii-increments-sans-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IIIncrementsSans";
  src: url("/fonts/increment/ii-increments-sans-oblique.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Averta PE";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/AvertaPE-Regular.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+20AC, U+2122;
}

@font-face {
  font-family: "Averta PE";
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url("./fonts/AvertaPE-Bold.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+20AC, U+2122;
}

@font-face {
  font-family: "iA Writer Mono S";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/iAWriterMono/iAWriterMono-Bold.woff2") format(woff2);
}

@font-face {
  font-family: "iA Writer Mono S";
  font-display: swap;
  font-style: italic;
  font-weight: 700;
  src: url("./fonts/iAWriterMono/iAWriterMono-BoldItalic.woff2") format(woff2);
}

@font-face {
  font-family: "iA Writer Mono S";
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  src: url("./fonts/iAWriterMono/iAWriterMono-Italic.woff2") format(woff2);
}

@font-face {
  font-family: "iA Writer Mono S";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/iAWriterMono/iAWriterMono-Regular.woff2") format(woff2);
}

@font-face {
  font-family: "iA Writer Quattro S";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/iAWriterQuattro/iAWriterQuattro-Bold.woff2") format(woff2);
}

@font-face {
  font-family: "iA Writer Quattro S";
  font-display: swap;
  font-style: italic;
  font-weight: 700;
  src: url("./fonts/iAWriterQuattro/iAWriterQuattro-BoldItalic.woff2")
    format(woff2);
}

@font-face {
  font-family: "iA Writer Quattro S";
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  src: url("./fonts/iAWriterQuattro/iAWriterQuattro-Italic.woff2") format(woff2);
}

@font-face {
  font-family: "iA Writer Quattro S";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/iAWriterQuattro/iAWriterQuattro-Regular.woff2")
    format(woff2);
}
